h1 {color: darkblue; }

.btn {color:lightblue; align-content: center;}
.jumbotron { background: url(../Images/VanillaMacaron.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}


.centeredimage {
    text-align: center;
}

