<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Recipe Book</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Recipe Book</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bara">Bara</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/croque">Croque Madame</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/golabjamun">Golab Jamun</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/injera">Injera<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/jerkchicken">Jerk Chicken</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/pumpkinnoodles">Pumpkin Rice Noodles</a>
            </li>

        </ul>

    </div>
</nav>
        <h1 class="text-center">Injera</h1>
        <img src="/Images/injera.jpg" width="400" height="300"/>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h4>Ingredients</h4>
                    <ul>
                        <li>¾ cup teff flour</li>
                        <li>3½ cups water</li>
                        <li>pinch of salt</li>
                    </ul>
                </div>
                <div class="col-md">
                    <p>Country: Ethiopia</p>
                    <img src="/Images/ethiopiaflag.png" width="150" height="150"/>
                    <p>Servings: 4</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md">
                    <h4>Directions</h4>
                    <span>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble. <br />
        The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt. <br />
        Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top. <br /> Do not let it brown, and make sure that it is not too thick.
        </span>
                </div>
            </div>
        </div>






    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>