<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Recipe Book</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Recipe Book</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Recipe Book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bara">Bara</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/croque">Croque Madame</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/golabjamun">Golab Jamun</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/injera">Injera</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/jerkchicken">Jerk Chicken <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pumpkinnoodles">Pumpkin Rice Noodles</a>
                    </li>

                </ul>

            </div>
        </nav>
        <h1 class="text-center">Jerk Chicken</h1>

        <img src="/Images/jerkchickenseriouseats.jpg" width="400" height="300"/>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h4>Ingredients</h4>
                    <ul>
                        <li>1/2 small onion, finely chopped </li>
                        <li>2 tablespoons soft dark brown sugar</li>
                        <li>3 tablespoons soya sauce </li>
                        <li>3 tablespoons red wine vinegar </li>
                        <li>small handful chopped fresh thyme </li>
                        <li>1 teaspoon sesame oil </li>
                        <li>4 thin slices French ham </li>
                        <li>2 thin slices Gruyere cheese</li>
                        <li>2 eggs</li>

                    </ul>
                </div>
                <div class="col-md">
                    <p>Country: Jamaica</p>
                    <img src="/Images/jamaicaflag.png" width="150" height="150"/>
                    <p>Servings: 4</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md">
                    <h4>Directions</h4>
                    <span>Preheat a two-sided electric griddle on medium-high to high for about 20 minutes, or preheat the oven to 300 degrees and preheat a cast-iron skillet on top of the stove for about 5 minutes. Prepare a bechamel sauce: in a small saucepan over medium heat, melt 1 tablespoon butter. When bubbles have subsided, add flour and whisk vigorously for 1 minute. Slowly whisk in milk until smooth. Bring to a boil, and cook until thick. Remove from heat, and season to taste with salt and nutmeg. <br />
            Spread two slices of bread generously with sauce. Lay two slices of ham on top of each, and top each with a slice of cheese; ham and cheese should slightly overlap edges of bread. Top each with a slice of bread. <br />
            In a small saucepan, melt remaining the 4 tablespoons butter. Brush the sandwiches on both sides with butter, making sure that the edges are well covered. If you're using a griddle, place cheese side down, close the griddle and cook until the bread is toasted dark and cheese is leaking out and bubbling. If you're using a skillet, place sandwiches cheese side down and cook on stove top until well browned, then turn and brown again. Transfer skillet to oven, and bake until heated through and cheese is bubbling. Meanwhile, fry the eggs in a skillet with little butter. Slide one fried egg onto each sandwich. Serve hot. <br />
        </span>
                </div>
            </div>
        </div>






    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


</html>