<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Recipe Book</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Recipe Book</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bara">Bara</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/croque">Croque Madame</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/golabjamun">Golab Jamun</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/injera">Injera</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/jerkchicken">Jerk Chicken</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/pumpkinnoodles">Pumpkin Rice Noodles<span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>
</nav>
        <h1 class="text-center">Pumpkin Rice Noodles</h1>



        <img src="/Images/pumpkinnoodlesrasamalaysia.jpg" width="350" height="350"/>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h4>Ingredients</h4>
                    <ul>
                        <li>100g (3.5 oz) dried rice vermicelli</li>
                        <li>2 tablespoons oil</li>
                        <li>2 cloves garlic, minced</li>
                        <li>100g (3.5 oz) ground pork</li>
                        <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
                        <li>½ cup water</li>
                        <li>2 tablespoons soy sauce</li>
                        <li>1 tablespoon sweet soy sauce</li>
                        <li>3 dashes white pepper</li>
                    </ul>
                </div>
                <div class="col-md">
                    <p>Country: Taiwan</p>
                    <img src="/Images/flagtaiwan.png" width="150" height="150"/>
                    <p>Servings: 4</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md">
                    <h4>Directions</h4>
                    <span>Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.
        <br /> Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.
            <br />  Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.
            <br /> Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.
        </span>
                </div>
            </div>
        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>